---
import Arrow from "@assets/icons/Arrow.astro";
import Separator from "@components/ui/Separator.astro";
import type { MainAbout } from "@lib/types";
import { Image } from "astro:assets";
import portrait from "@assets/images/portrait.png";
import Button from "./Button.astro";

interface Props {
  lang: string;
  texts: MainAbout;
}

const { lang, texts } = Astro.props;
---

<section class="space-y-8 px-6 py-8 lg:py-12" aria-label={texts.title}>
  <Separator>
    <h2
      class="font-title text-3xl tracking-tight uppercase sm:text-5xl lg:text-7xl"
    >
      {texts.title}
    </h2>
  </Separator>

  <div class="grid gap-8 sm:grid-cols-3 lg:grid-cols-4 lg:gap-10">
    <Image
      src={portrait}
      alt="Vertical pencil sketch of a young person with short, slightly wavy hair framing their face. The subject has a calm, introspective expression and looks slightly to the side. Soft shading and detailed linework highlight the contours of the face, eyes, and hair, set against a lightly textured background."
      loading="lazy"
      class="size-full rounded object-cover opacity-0 shadow-md"
      data-animate="fadeIn"
    />

    <div
      class="flex flex-col justify-evenly space-y-8 sm:col-span-2 lg:col-span-3"
    >
      <div class="space-y-1 md:text-lg">
        <p class="leading-relaxed" set:html={texts.text1} />
        <p class="leading-relaxed" set:html={texts.text2} />
      </div>

      <div
        class="text-accent flex flex-row flex-wrap items-center justify-evenly gap-4"
      >
        {
          texts.stats.map(({ data, label }) => (
            <div class="flex w-[200px] flex-col items-center justify-center text-center">
              <div class="font-title text-5xl md:text-6xl">{data}</div>
              <p class="mt-2 text-sm font-medium tracking-wide uppercase md:text-base">
                {label}
              </p>
            </div>
          ))
        }
      </div>

      <div class="flex flex-col lg:flex-row gap-8 items-center justify-evenly">
        <Button lang={lang} to="about">
          {texts.button}
          <Arrow
            styles="size-5 md:size-6 group-hover:-rotate-45 transition-tranform ease-in-out duration-300"
          />
        </Button>
        <Button lang={lang} to="blog">
          {"Read my blog"}
          <Arrow
            styles="size-5 md:size-6 group-hover:translate-x-2 transition-tranform ease-in-out duration-300"
          />
        </Button>
      </div>
    </div>
  </div>
</section>
