---
import { Image } from "astro:assets";
import type { MainHero } from "@lib/types";
import smallMosail from "@assets/images/small_mosaic.png";
import bigMosaic from "@assets/images/big_mosaic.png";

interface Props {
  texts: MainHero;
}

const { texts } = Astro.props;
---

<main class="px-6 pt-24 pb-8 lg:pb-12 overflow-hidden">
  <div class="mb-8 flex flex-col items-center justify-center">
    <h1 class="sr-only">
      {texts.h1}
    </h1>
    <div
      data-animate="slideLeft"
      class="flex w-full items-center justify-center gap-8 opacity-0 md:justify-start lg:justify-between xl:gap-10"
    >
      <span class="font-title text-4xl sm:text-7xl lg:text-8xl xl:text-9xl"
        >{texts.title1}</span
      >
      <div
        class="hidden h-14 w-auto flex-1 overflow-hidden rounded md:block lg:h-18 xl:h-22"
      >
        <Image
          src={smallMosail}
          alt="decoration title"
          loading="eager"
          quality={"mid"}
          class="size-full object-cover object-bottom"
        />
      </div>
    </div>
    <div
      data-animate="slideRight"
      class="flex w-full flex-col items-center opacity-0 md:flex-row md:items-end md:gap-2"
    >
      <span
        class="font-title text-accent text-2xl leading-snug sm:text-4xl lg:text-5xl xl:text-6xl"
        >{texts.title2}</span
      >
      <span class="font-title text-4xl sm:text-7xl lg:text-8xl xl:text-9xl"
        >{texts.title3}</span
      >
    </div>
  </div>
  <Image
    src={bigMosaic}
    alt="Collage of twelve painterly illustrations arranged in a 3x4 grid, featuring nature scenes, whimsical characters, portraits, futuristic cityscapes, and everyday moments, blending warm and cool tones in a variety of artistic styles."
    loading="eager"
    quality={"mid"}
    data-animate="slideUp"
    class="mb-4 h-[400px] w-full rounded object-cover opacity-0 sm:h-[40vh] md:h-[50vh] lg:h-[60vh] xl:h-[70vh]"
  />
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <span
      data-animate="fadeIn"
      class="text-accent font-title text-2xl tracking-widest uppercase opacity-0 md:text-3xl lg:text-4xl xl:text-5xl"
    >
      {texts.subtitle}
    </span>

    <p class="text-accent leading-relaxed font-medium md:text-end">
      {texts.tags}
    </p>
  </div>
</main>
