---
import { Image } from "astro:assets";

interface Props {
  id: string;
  image: string;
  title: string;
  category: string;
  description: string;
  styles?: string;
}
const { id, image, title, category, description, styles } = Astro.props;
---

<div
  class:list={[
    "card group relative cursor-pointer transition-transform duration-300 ease-in-out will-change-transform hover:scale-105",
    styles,
  ]}
  data-id={id}
  data-image={image}
  data-title={title}
  data-category={category}
  data-description={description}
>
  <Image
    src={image}
    alt={title}
    height={272}
    width={272}
    widths={[272, 299, 384]}
    sizes="(max-width: 720px) 272px, (max-width: 1024px) 299px, 384px"
    loading="lazy"
    class="size-full rounded object-cover transition-shadow duration-300 ease-out group-hover:shadow-lg"
  />
  <div
    class="absolute inset-0 rounded bg-gradient-to-t from-black/20 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"
  >
  </div>
</div>
