---
import Layout from "@layouts/Layout.astro";
import ModalProject from "@components/ui/ModalProyect.astro";
import en from "@i18n/ui/en";
import es from "@i18n/ui/es";
import { localPaths, type locales } from "@i18n/utils";
import CardProyect from "@components/ui/CardProyect.astro";
import CTA from "@components/CTA.astro";
import Pagination from "@components/ui/pagination/Pagination.astro";
export const getStaticPaths = localPaths;

const currentLang = Astro.currentLocale as keyof typeof locales;
const translations = { en, es };
const t = translations[currentLang];

const portfolioImages = [
  {
    id: "1",
    image: "/images/1.webp",
    title: "ICELAND STATIONS",
    description:
      "Montañista entre glaciares con carpa naranja en paisaje ártico",
    category: "PHOTOGRAPHY",
  },
  {
    id: "2",
    image: "/images/2.webp",
    title: "INFRARED NATURE",
    description:
      "Ciervo capturado en técnica infrarroja mostrando paisaje surrealista",
    category: "PHOTOGRAPHY",
  },
  {
    id: "3",
    image: "/images/3.webp",
    title: "WILD PORTRAITS",
    description:
      "Tigre blanco entre árboles escarlata en composición artística",
    category: "PHOTOGRAPHY",
  },
  {
    id: "4",
    image: "/images/1.webp",
    title: "COSMIC LANDSCAPES",
    description: "Planeta oscuro con luna sobre dunas en escena extraterrestre",
    category: "DIGITAL ART",
  },
  {
    id: "5",
    image: "/images/2.webp",
    title: "WINTER DREAMS",
    description: "Árbol rosado en paisaje invernal con atmósfera mágica",
    category: "PHOTOGRAPHY",
  },
  {
    id: "6",
    image: "/images/3.webp",
    title: "SURREAL FOREST",
    description: "Ciervo en bosque surrealista con elementos fantásticos",
    category: "DIGITAL ART",
  },
  {
    id: "7",
    image: "/images/1.webp",
    title: "ARCTIC EXPEDITION",
    description: "Exploración ártica documentada en condiciones extremas",
    category: "PHOTOGRAPHY",
  },
  {
    id: "8",
    image: "/images/2.webp",
    title: "INFRARED STUDIES",
    description: "Estudios en técnica infrarroja revelando texturas ocultas",
    category: "PHOTOGRAPHY",
  },
  {
    id: "9",
    image: "/images/3.webp",
    title: "WILDLIFE SERIES",
    description: "Serie de vida salvaje en entornos naturales únicos",
    category: "PHOTOGRAPHY",
  },
  {
    id: "10",
    image: "/images/1.webp",
    title: "SPACE ODYSSEY",
    description: "Odisea espacial imaginaria con paisajes alienígenas",
    category: "DIGITAL ART",
  },
  {
    id: "11",
    image: "/images/2.webp",
    title: "SEASONAL MOODS",
    description: "Estados de ánimo estacionales capturados en la naturaleza",
    category: "PHOTOGRAPHY",
  },
  {
    id: "12",
    image: "/images/3.webp",
    title: "FANTASY REALM",
    description:
      "Reino fantástico donde la realidad se mezcla con la imaginación",
    category: "DIGITAL ART",
  },
  {
    id: "13",
    image: "/images/1.webp",
    title: "FANTASY REALM",
    description:
      "Reino fantástico donde la realidad se mezcla con la imaginación",
    category: "DIGITAL ART",
  },
];

const url = { current: "", next: "", prev: "", first: "", last: "" };
---

<Layout title={t.catalog.title} description={t.catalog.description}>
  <main class="space-y-12 px-6 pt-24 pb-8 lg:pb-12">
    <div class="text-center">
      <h1
        class="font-title text-5xl tracking-tight uppercase sm:text-6xl lg:text-7xl"
      >
        {t.catalog.top.title}
      </h1>
      <p class="mt-4 opacity-80 md:text-lg">
        {t.catalog.top.subtitle}
      </p>
    </div>

    <div
      class="grid auto-rows-auto gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
    >
      {
        portfolioImages.map(
          ({ id, title, category, description, image }, index) => (
            <CardProyect
              id={id}
              image={image}
              title={title}
              category={category}
              description={description}
              styles={
                index % 7 === 0
                  ? "md:col-span-2 md:row-span-2"
                  : index % 5 === 0
                    ? "md:row-span-2"
                    : ""
              }
            />
          ),
        )
      }
    </div>
    <Pagination lang={currentLang} currentPage={1} lastPage={3} url={url} />
  </main>
  <CTA lang={currentLang} texts={t.cta} />
  <ModalProject lang={currentLang} texts={t.modal} />
</Layout>
