---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  currentLang: string;
  posts: CollectionEntry<"blogs">[];
  more: string;
}

const { currentLang, posts, more } = Astro.props;
---

<section>
  <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
    {
      posts.map(({ id, data }, index) => {
        const { title, description, cover, date, tag } = data;

        return (
          <article
            class="group animate-slideUp flex flex-col opacity-0"
            style={{ animationDelay: `${index * 125}ms` }}
          >
            <a
              href={getRelativeLocaleUrl(
                currentLang,
                `blog/${id.split("/")[1]}`,
              )}
              class="flex h-full flex-col"
              aria-label={`Read more about ${title}`}
            >
              <div class="overflow-hidden">
                <Image
                  src={cover}
                  alt={title}
                  class="h-56 w-full object-cover transition-transform duration-300 group-hover:scale-105 group-hover:shadow-lg md:h-64"
                />
              </div>
              <div class="mt-4">
                <span class="mb-2 block text-xs tracking-[0.15em] uppercase">
                  {tag}
                </span>
                <h3 class="mb-2 text-xl font-bold uppercase md:text-2xl">
                  {title}
                </h3>
                <p class="mb-4 opacity-75">{description}</p>
                <button class="group-hover:text-accent cursor-pointer text-xs tracking-wide uppercase transition-colors duration-300">
                  {more}
                </button>
              </div>
            </a>
          </article>
        );
      })
    }
  </div>
</section>
