---
import { Image } from "astro:assets";

interface Props {
  id: string;
  image: ImageMetadata;
  title: string;
  description: string;
  lazy: boolean;
  styles?: string;
  animationDelay?: string;
}
const { id, image, title, description, styles, lazy, animationDelay } =
  Astro.props;
---

<div
  class:list={[
    "card group relative cursor-pointer transition-transform duration-300 ease-in-out will-change-transform hover:scale-105",
    styles,
  ]}
  style={animationDelay && `animation-delay: ${animationDelay}`}
  data-id={id}
  data-image={image.src}
  data-title={title}
  data-description={description}
>
  <Image
    src={image}
    alt={title}
    loading={lazy ? "lazy" : "eager"}
    quality={"mid"}
    class="size-full rounded object-cover transition-shadow duration-300 ease-out group-hover:shadow-lg"
  />
  <div
    class="absolute inset-0 rounded bg-gradient-to-t from-black/20 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"
  >
  </div>
</div>
